:root {
  --color-primary: blue;
}

.cookie {
  color: var(--color-primary);
  background-color: black;
  text-align: center;
  font-family: "roboto" sans-serif;
}

.box {
  border: 1px solid black;
  margin: 10px;
}

.sbox {
  height: 100vh;
  margin: 20px;
  border: 1px solid black;
  background-color: lightblue;
}
